<li class="list-group-item tweet-height <%= "tweet_#{tweet.id}"%>">
  <% user = @user.present? ? @user : current_user %>
  <% if @user %>
      <%= link_to retweet_tweet_path(tweet),:remote => :true, :style=>"float:right" do %>
          <i class="glyphicon glyphicon-retweet"></i>
      <% end %>
  <% else %>
      <%= link_to tweet_path(tweet), method: :delete, id: tweet.id, data: { confirm: "Are you sure want to delete this tweet?", remote: true },:style=>"float:right" do %>
          <%= image_tag 'delete.png',:width=>"24", :height=>"24"%>
      <% end %>
  <% end %>
  <% if user.user_profile.present?%>
      <%= user.user_profile.attachment? ? (image_tag user.user_profile.try(:attachment).try(:thumb),:width=>"48", :height=>"35") : (image_tag 'thumb_profile.jpg') %>
  <% else %>
      <%=  image_tag 'thumb_profile.jpg'%>
  <% end %>
  <p class="tweet-list"><%= tweet.body %></p><br>
  <p class="tweet-time"><%="#{time_ago_in_words(tweet.created_at)} ago"%></p>
</li>