<li class="list-group-item tweet-height <%= "tweet_#{user_tweet.tweet.id}"%>">
  <% unless @user %>
      <%= link_to tweet_path(user_tweet.tweet), method: :delete, id: user_tweet.tweet.id, data: { confirm: "Are you sure?", remote: true },:style=>"float:right" do %>
          <i class="glyphicon glyphicon-trash"></i>
      <% end if current_user.id == user_tweet.user.id%>
  <% end %>
  <% if user_tweet.user.user_profile.present?%>
      <%= user_tweet.user.user_profile.attachment? ? (image_tag user_tweet.user.user_profile.try(:attachment).try(:thumb),:width=>"48", :height=>"35") : (image_tag 'thumb_profile.jpg') %>
  <% else %>
      <%=  image_tag 'thumb_profile.jpg'%>
  <% end %>
  <p class="tweet-list"> <%= user_tweet.tweet.body %></p><br>
  <p class="tweet-time"><%="#{time_ago_in_words(user_tweet.tweet.created_at)} ago by "%> <%= link_to user_tweet.user == current_user ? "You" : user_tweet.user.name , user_path(user_tweet.user)%></p>
</li>