User Profile
<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-2" style="margin-top:30px;">
      <h5><%= @user.name %>!</h5>
      <div class="row">
        <div class="col-md-5">
          <% if @user.user_profile.present?%>
              <%= @user.user_profile.attachment? ? (image_tag @user.user_profile.try(:attachment).try(:thumb)) : (image_tag 'thumb_profile.jpg') %>
          <% else %>
              <%=  image_tag 'thumb_profile.jpg'%>
          <% end %>
        </div>
      </div>
      <p style="margin-top:8px;"class="tweet_count"><%= @user.tweets.try(:count)%> Tweets</p>
      <div id="follow_status">
        <% if current_user.following?(@user) %>
            <%= unfollow_link %>
        <% else %>
            <%= follow_link %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="row">
        <div class="panel-body">
          <h4>Tweet List</h4>
          <% if @user.tweets.present? %>
              <ul class="list-group" id="tweet_list">
                <%= render @user.tweets.order("updated_at desc"), :locals => {:user => @user} %>
              </ul>
          <% else %>
              <p class="list-group-item-success" style="width:50%">Currently No Tweets is Present.</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success" id="following_count">Following <%= @user.follow_count %></li>
        <li class="list-group-item list-group-item-warning" id="followers_count" >Followers <%= @user.followers_count %></li>
      </ul>
    </div>
  </div>
</div>