User Profile
<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-2" style="margin-top:30px;">
      <h5><%= @user.name %>!</h5>
      <div class="row">
        <div class="col-md-5">
          <% if @user.user_profile.present?%>
              <%= @user.user_profile.attachment? ? (image_tag @user.user_profile.try(:attachment).try(:thumb)) : (image_tag 'thumb_profile.jpg') %>
          <% else %>
              <%=  image_tag 'thumb_profile.jpg'%>
          <% end %>
        </div>
      </div>
      <p style="margin-top:8px;"class="tweet_count"><%= @user.tweets.try(:count)%> Tweets</p>
      <% if current_user.following?(@user) %>
          <%= link_to "Unfollow", unfollow_user_path(@user.id), remote: true,  class: "btn btn-info",:id=>"unfollow_user"%>
      <% else %>
          <%= link_to "Follow", follow_user_path(@user.id), remote: true,  class: "btn btn-info",:id=>"follow_user"%>
      <% end %>
    </div>
    <div class="col-lg-8">
      <div class="row">
        <div class="panel-body">
          <h4>Tweet List</h4>
          <% if @user.tweets.present? %>
              <ul class="list-group" id="tweet_list">
                <%= render @user.tweets.order("updated_at desc") %>
              </ul>
          <% else %>
              <p class="list-group-item-success" style="width:50%">Currently No Tweets is Present.</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Following <%= @user.follow_count %></li>
        <li class="list-group-item list-group-item-info">Followers <%= @user.followers_count %></li>
        <li class="list-group-item list-group-item-warning">User C Followed You</li>
        <li class="list-group-item list-group-item-danger">User D Retweeted</li>
      </ul>
    </div>
  </div>
</div>