<div class="header">
  <%= link_to "STWEET", root_path ,:class=>"heading-title"%>
  <ul class="nav nav-pills pull-right menu-list">
      <% if user_signed_in? %>
          <li>
            <% noti_count = current_user.check_message%>
            <% if noti_count != 0 %>
                <span class="notification">
                  <a href="#"><%= current_user.check_message%> </a>
                </span>
            <% end %>
            <a href="<%= notifications_url %>"><%= image_tag 'new_message.png'%></a>
          </li>
          <li><%= link_to "HOME",root_path,:class=> "menu-item-text" %></li>
          <li><%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete ,:class=> "menu-item-text" %></li>
          <li><%= link_to "SETTING", current_user.user_profile.present? ? edit_user_profile_path(current_user.user_profile) : new_user_profile_path ,:class=> "menu-item-text" %></li>
          <li>
            <%= form_tag search_path, :method=> :get do %>
                <%= text_field_tag :q, nil, :class => "form-control",:placeholder=>"Find people you know"%>
                <%= button_tag(type: 'submit', class: "btn",:style=>"float:right;margin-top:-35px;margin-right:-50px;") do %>
                    <%= image_tag 'search.png'%>
                <% end %>
                <p class="notice"><%= flash[:notice] %></p>
            <% end %>
          </li>
      <% else %>
          <li><%= link_to "LOGIN", new_user_session_path, :class=> "menu-item-text"  %></li>
          <li><%= link_to "SIGN UP", new_user_registration_path, :class=> "menu-item-text" %></li>
      <% end %>
    </ul>
</div>
