<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-2" style="margin-top:30px;">
      <% if user_signed_in? %>
          <h5><%= current_user.name %>!</h5>
          <div class="row">
            <div class="col-md-5">
              <% if current_user.user_profile.present?%>
                  <%= current_user.user_profile.attachment? ? (image_tag current_user.user_profile.try(:attachment).try(:thumb)) : (image_tag 'thumb_profile.jpg') %>
              <% else %>
                  <%=  image_tag 'thumb_profile.jpg'%>
              <% end %>
            </div>
          </div>
          <p style="margin-top:8px;"class="tweet_count"><%= @tweets.try(:count)%> Tweets</p>
      <% else %>
          <h6>Welcome, new user!</h6>
          <p class="lead">
            You must sign in or sign up before you can access our super stweet,
            top secret content.
          </p>
      <% end %>
    </div>
    <div class="col-lg-8">
      <%= render :partial => "tweets/form"%>
      <div class="row">
        <div class="panel-body" style="margin-top:30px;">
          <ul class="list-group" id="tweet_list">
            <%= render @tweets %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">Following <%= current_user.follow_count %></li>
        <li class="list-group-item list-group-item-info">Followers <%=  current_user.followers_count %></li>
        <li class="list-group-item list-group-item-warning">User C Followed You</li>
        <li class="list-group-item list-group-item-danger">User D Retweeted</li>
      </ul>
    </div>
  </div>
</div>