<div class="row">
  <div class="col-lg-12" style="margin-top:50px;">
    <div class="col-lg-2" style="margin-top:19px">
      <div style="margin-left:10px;">
        <% if user_signed_in? %>
            <h5 style="margin-left:3px;"><%= current_user.name %></h5>
            <div class="row">
              <div class="col-md-5">
                <% if current_user.user_profile.present?%>
                    <%= current_user.user_profile.attachment? ? (image_tag current_user.user_profile.try(:attachment).try(:thumb)) : (image_tag 'thumb_profile.jpg') %>
                <% else %>
                    <%=  image_tag 'thumb_profile.jpg'%>
                <% end %>
              </div>
            </div>
            <p style="margin-top:8px;"class="tweet_count"><%= current_user.tweets.try(:count)%> Tweets</p>
        <% end %>
      </div>
    </div>
    <div class="col-lg-8">
      <%= render :partial => "tweets/form"%>
      <div class="row">
        <div class="panel-body" style="margin-top:30px;">
          <ul class="list-group" id="tweet_list">
            <%= render :partial => "tweets/user_tweet", :collection => @tweets ,:as => :user_tweet%>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-2" style="margin-top:38px">
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Following <%= current_user.follow_count %></li>
        <li class="list-group-item list-group-item-warning">Followers <%=  current_user.followers_count %></li>
      </ul>
      <%= link_to "Export Tweets", root_path(format: "csv"),:class=>"btn btn-warning export-link" %>
    </div>
  </div>
</div>