<%= form_for @user_profile,:url => {:action => @user_profile.id.present? ? "update" : "create" },class: "form-horizontal",role: "form" do |f| %>
    <div class="row">
      <div class="form-group">
        <%= f.hidden_field :user_id,:value => current_user.id %>
      </div>

      <div class="form-group">
        <label>Upload Photo</label>
        <%= f.file_field :attachment %>
      </div>

      <div class="form-group">
        <label>Age</label>
        <%= f.text_field :age, :value => @user_profile.age.present? ? @user_profile.age : "",class: "form-control",:style=>"width:40%"%>
      </div>

      <div class="form-group">
        <label>Gender</label>
        <%= f.select :sex ,options_for_select([["Select", ""], ["Male", "Male"],["Female", "Female"]],selected: @user_profile.sex),class: "form-control" %>
      </div>

      <div class="form-group">
        <label>Secondary Email</label>
        <%= f.text_field :secondary_email,:value => @user_profile.secondary_email.present? ? @user_profile.secondary_email : "",class: "form-control",:style=>"width:40%"%>
      </div>

      <div class="form-group">
        <label>Secondary Phone Number</label>
        <%= f.text_field :secondary_phone_number, :value => @user_profile.secondary_phone_number.present? ? @user_profile.secondary_phone_number : "",class: "form-control",:style=>"width:40%"%>
      </div></br>

      <div class="form-group">
        <%= f.submit "UPDATE",:class => "btn btn-success"%>
      </div>
    </div>
<% end %>

<%= link_to "BACK",root_path,:class => "btn btn-primary" %>
